
/* global variable */
:root{
  --main-red: rgba(211, 9, 19);
  --main-dark: rgba(20,20,20);
  --main-deep-dark:rgba(0, 0 , 0);
  --main-grey:rgba(153, 153, 153);
  --main-green: rgba(32, 215, 96);
  --main-green-hover: rgb(133, 134, 134);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Helvetica', sans-serif;
  background-color: var(--main-dark);
  -webkit-font-smoothing: antialiased;
  color: white;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: white;
  
}

header {
  padding: 50px 15px 0px;
}

header h1 {
  color: white;
  font-size: 48px; 
  font-weight: 500;
  text-align: center;
}

main {
  width: 100%;
  max-width: 960px;
  margin:0 auto;
}

section{
  padding: 15px;
}

.searchbox{
  display: block;
  width: 100%;
  padding: 15px;
  
  border: none;
  outline: none;
  background: none;

  background-color: white;
  border-radius: 8px;

  color: #53565A;
  font-size: 20px;
  font-weight: 300;
  
  transition: 0.4s ease-out ;
  margin-bottom: 120px;

}

.searchbox:focus{
  box-shadow: 0px 0px 8px 3px #4484c4;
}

.results {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.results .result {
  width: 33.333%;
  min-width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.results .result img{
  display: block;
  width: 100%;
}

.results .result h3{
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  background: rgba(41, 40, 40, 0.7);
  flex: 1 1 100%;
  transition: 0.4s ease-out;
}

.results .result:hover h3{
  background-color: white;
  color: #223343;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-dark);
  
  overflow-y: scroll;
}

.popup .content {
  display: block;
  width: 100%;
  max-width: 0 auto;
  margin: 0 auto;
  padding: 25px;

  color: white; 
}

.popup .content h2 {
  font-size: 28px;
  font-weight: 600;
}

.popup .content span {
  font-size: 20px;
  font-weight: 300;
}

.popup .content .rating {
  margin-bottom: 30px;

}

.popup .content .plot {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px 30px;
}

.popup .content .plot img{
  flex: 1 1 50%;
  max-width: 300px;
  padding: 0px 15px;
}

.popup .content .plot p{
  flex: 1 1 50%;
  padding: 15px;
}

.popup .content .close{
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 700;

  background: var(--main-green);
  color: white;
  border-radius: 8px;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;

  transition: 0.4s ease-out;
}

.popup .content .close:hover {
  background: #223343;
}



/* Hedaer */

.header-container {
  width: 100;
  height: 90vh;
  position: relative;
  background: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)),
  url(./assets/bg.jpg) no-repeat center/cover
}

.header-container::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  box-shadow: inset 4.375rem 3.125rem 11.875rem black -4.375rem -3.125rem -11.875rem;


}


/* list style */
.list {
  flex-wrap: wrap;
  margin: 0px -15px;
}

.list .cell {
  width: 80%;
  height: 100px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.list .cell img{
  float: left;
  position: absolute;
  height: 68px;
  width: 68px;
  
}

.list .cell h3{
  color: white;
  font-size: 12px;
  font-weight: 600;
  flex: 0.5 1 100%;
  transition: 0.4s ease-out;
  display: flex;
  justify-content: center;
}

.list .cell p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;

  
}

.list .cell:hover {
  background-color: rgba(27, 25, 25, 0.5);
  color: #223343;
}


.descending-btn{
  margin-top: 60px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;   
}

.descending-btn h5 h6{
  margin: 0;
  padding: 0;
  line-height: 0.9;
}
.descending-btn h5:hover{
  cursor: pointer;
  color: aquamarine;
}

.descending-btn h6:hover{
  cursor: pointer;
  color: aquamarine;
}